{:paths ["src"]

 :deps
 {org.clojure/spec.alpha {:mvn/version "0.2.194"}}

 :aliases
 {; clj -M:cljfmt fix src test
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.6.4"}}
   :main-opts ["-m" "cljfmt.main"]}

  ; clj -M:1.10:test
  ; clj -M:1.9:test
  :test
  {:extra-paths ["test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.861"}}
   :main-opts ["-m" "kaocha.runner"]}

  :repl
  {:extra-paths ["dev" "test"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.1.0"}}}

  ; clojure -X:jar
  :jar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.216"}}
   :exec-fn hf.depstar/jar
   :exec-args {:jar "factory-squid.jar" :sync-pom true
               :group-id "com.github.gavinkflam" :artifact-id "factory-squid"
               :version "1.0.0-alpha1"}}

  ; env CLOJARS_USERNAME=gavlam CLOJARS_PASSWORD=token clj -X:release-clojars
  :release-clojars
  {:extra-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote :artifact "factory-squid.jar"}}

  :1.10
  {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :1.9
  {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}}}
